/*this is experiment*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
 margin:15,15,15,15;
 padding-top: 50;

}


.header {
  display:inline;
  margin-right:50px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 25px;
}

.sign {
  margin-left:50px;
  display:inline;
  float:left;
  width: 50%;
  
}

#intouch {
 float:right;
  margin-right: 50px
}

.content{
  display:inline-block;
}




/*nav{
  padding-left: 50px;
}*/

.desktop {

  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
                  ),

  url(images/meredithh_desk.jpg);
  height: 400px;
  background-position: center center;
  margin-top: 15px;
}

#work,#process,#about,#projects{

  margin-bottom: 20px;
  margin-top: 20px;

}




aside{

  display:inline;
  margin-top: 50px;
  margin-left: 50px;
    margin-right: 50px;
    width:25%;
    float:left;
    clear:all;
}

main {
   
    display: inline;
    margin-top: 50px;
    margin-right:50px;
    float:right;
  overflow: hidden}


  #two_column {
     background-color: #FFb7CF;
     border: 1 ;
  }

  #projects {
    display:inline-grid;
  }
    

/* unvisited link */
a:link {
    font-family: "Merriweather Sans", sans-serif;
    color:#82595e;
    font-size:1em;
    font-weight:800;
    font-variant:bold; 
    line-height:1.5em;
    text-decoration: none;
    margin-right:50px;
}

/*a:hover {
    color: #492802;
}*/


body{
    font-size:16px;
    /*font-weight:100;
    font-variant:lighter; 
    line-height:3em;*/
    }


p {font-family: "Merriweather", serif;
   font-size: .75em;
   font-weight: 100;
   font-variant: lighter;
   line-height: 1.8em;
    margin-bottom: 30px;
}
#boldsubhed{
  font-family: "Merriweather Sans", sans-serif;
    font-size: 1em;
    font-weight:800;
    font-variant:bold;
}
  
h2 {font-family: "Merriweather Sans", sans-serif;
    font-size:1em;
    font-weight:800;
    font-variant:bold; 
    line-height:1.5em;
    margin-bottom: 10px;
    }

h1 {font-family: "Merriweather Light Italic", serif;
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    font-family: "Merriweather", serif;
  font-style: italic;
  font-variant: lighter;
  font-weight: 100; 
  line-height: 1.8em;
  letter-spacing: 0.0625em;
  margin-left: 50px;
  margin-top: 25px;
  position: absolute;
  }
    


 
